{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Modifier{% endblock %}

{% block body %}
    <h1>Modifier {{categorie.nom}}</h1>

    {{ include('back/categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-danger text-light" href="{{ path('app_categorie_index') }}">Retour à la liste</a>

    {{ include('back/categorie/_delete_form.html.twig') }}
{% endblock %}
