{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Les Personnes{% endblock %}

{% block body %}
    <h1>Table des Personnes enregistrées</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodePostal</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>DateNaissance</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.codePostal }}</td>
                <td>{{ personne.adresse }}</td>
                <td>{{ personne.ville }}</td>
                <td>{{ personne.dateNaissance ? personne.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ personne.tel }}</td>
                <td>
                    <a class="btn btn-info text-light" href="{{ path('app_personne_show', {'id': personne.id}) }}">show</a>
                    <a class="btn btn-info text-light" href="{{ path('app_personne_edit', {'id': personne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Personne n'est enregistré pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-success text-light" href="{{ path('app_personne_new') }}">Enregistrez une nouvelle personne </a>
    <a  class="btn btn-danger text-light" href="{{ path('accueil') }}">Revenir à l'accueil </a>
{% endblock %}
